/* tweak the layout such that it doesn't jump with (dis-)appearing scroll bars */
body:after {
  content:"";
  @apply inset-0 bg-fixed;
  @apply fixed; /* stretch a fixed position to the whole screen */
  @apply h-screen; /* fix for mobile browser address bar appearing disappearing */
  z-index:-1; /* needed to keep in the background */
}

/* some fixes for displays with notches, wholes, etc. */
body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* add gradients to background */
body:after {
  @apply bg-gradient-to-tr;
}

body.light:after {
  @apply bg-sogblue-darker;
  @apply from-sogblue-light to-sogblue-darker;
}

body.dark:after {
  @apply bg-gray-900;
  @apply from-sogblue-darkest to-gray-900;
}

/* simple fade transition */
.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300;
}
.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}