/* extending the standard classes */

@responsive {
  .min-w-56 {
    min-width: 14rem;
  }
  .width-container {
    margin-left: calc(100vw - 100%);
    width: calc(200% - 100vw);
  }
}

/* fix a issue with the current version of Tailwind JIT
 * which produces sm\:flex twice, but no flex class.
 */
.flex {
  display: flex;
}